body{
    background-color: rgb(61, 65, 78);
}
.span{
    color: orange;
    text-align: center;
    font-size: 40px;
}
img{
    margin-left:43%;
    margin-top: 5%;
}

p{
    color: orange;
    text-align: center;
    font-size: 40px;
}